@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #0f1f1c;
  background-color: #e5e5e5;
}
.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-right {
  padding-left: calc((100% - 1270px) / 2 + 15px);
}
.header {
  background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%),
    #204434;
  min-height: 960px;
  position: relative;
  padding-top: 44px;
  color: #fff;
  overflow: hidden;
}
.header a {
  color: #fff;
}
.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
  background-image: url(/css/img/main-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.header__top {
  margin-bottom: 86px;
}
.header__row {
  display: flex;
}
.header__content {
  max-width: 592px;
  z-index: 1;
}
.header__img {
  flex-grow: 1;
  position: relative;
}
.header__img::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  right: -30px;
  background-image: url(/css/img/header-elements.svg);
  width: 830px;
  height: 622px;
}
.header__img img {
  position: absolute;
  max-width: unset;
  width: 894px;
  height: 940px;
  top: -160px;
  right: -120px;
  z-index: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 80px;
}
.nav__list {
  display: flex;
  column-gap: 80px;
  font-size: 15px;
  font-weight: 500;
  z-index: 1;
}

.nav__link {
  position: relative;
}

.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: -6;
  background: #c4c4c4;
  border-radius: 50px;
  transition: 0.5s;
  transform: scaleX(0);
}
.nav__link:hover::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: -6;
  background: #c4c4c4;
  border-radius: 50px;
  transform: scaleX(1);
}
.nav__link.nav__link--footer::after {
  display: none;
}

.logo {
  font-size: 20px;
  font-weight: 700;
}
.logo--link {
  color: #ff7b4e;
}
.nav__link-active {
  position: relative;
}
.nav__link-active::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: -6;
  background: #c4c4c4;
  border-radius: 50px;
  transform: scaleX(1);
}
.nav__login {
  display: flex;
  column-gap: 25px;
  font-weight: 500;
  font-size: 15px;
  align-items: center;
  z-index: 1;
}
.btn {
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%),
    #ffffff;
  border-radius: 100px;
  padding: 13px 43px;
  border: none;
  display: inline-block;
}
.btn__toggle {
  display: none;
}
.nav__login a:hover {
  opacity: 0.5;
  transition: 0.3s;
}
.btn:active {
  position: relative;
  top: 1px;
}

.header__badge {
  display: inline-block;
  padding: 12px 31px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  margin-bottom: 7px;
}

.header__tittle {
  font-weight: 400;
  font-size: 55px;
  line-height: 82px;
  margin-bottom: 30px;
}

.header__text {
  opacity: 0.5;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  margin-bottom: 68px;
}

.header__btn {
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 27px;
  padding: 26px 47px;
}
.header__btn:hover {
  opacity: 0.5;
  transition: 0.2s ease-in;
}

.header__btn:active {
  position: relative;
  top: 1px;
}
.destinations {
  padding: 96px 0 100px;
  overflow-x: hidden;
}
.destinations__row {
  display: flex;
  column-gap: 50px;
}
.destinations__content {
  max-width: 456px;
}
.destinations__slider {
  width: 1110px;
  flex-shrink: 0;
}

.destinations__tittle {
  font-weight: 600;
  font-size: 55px;
  color: #0f1f1c;
  margin-bottom: 15px;
}
.destinations__tittle span {
  display: block;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #0f1f1c;
}

.destination__text {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #0f1f1c;
  opacity: 0.5;
  margin-bottom: 60px;
}
.destinations__link {
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 27px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #fefefe;
  padding: 25px 44px;
}
.slider {
  position: relative;
  height: 456px;
}

.slider__item {
  margin-top: 27px;
  width: 335px;
  height: 402px;
  border-radius: 35px;
  transition: 0.2s ease;
}
.slider .center .slider__item {
  width: 380px;
  height: 456px;
  margin-top: 0;
}

.slider__item-active {
  width: 380px;
  height: 456px;
}
.slider__btn {
  display: block;
  width: 68px;
  height: 68px;
  display: flex;
  align-items: center;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%),
    #8b8b8b;
  border-radius: 34px;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  z-index: 1;
}
.slider__btn-prev {
  left: -27px;
  padding-left: 26px;
  justify-content: flex-start;
}
.slider__btn-mext {
  padding-right: 26px;
  justify-content: flex-end;
  right: -27px;
}
.owl-item {
  display: flex;
  justify-content: center;
}

.customers {
  padding: 100px 0 133px;
}

.customers__row {
  display: flex;
  column-gap: 68px;
}
.customers__img {
  max-width: 478px;
}
.customers__img img {
  border-radius: 60px;
}

.customers__tittle {
  max-width: 550px;
  font-weight: 500;
  font-size: 45px;
  color: #0f1f1c;
  margin-bottom: 35px;
}

.rewiew {
  max-width: 490px;
}

.rewiew__client {
  display: flex;
  column-gap: 33px;
  margin-bottom: 60px;
  align-items: center;
}

.rewiew__client-avatar {
  overflow: hidden;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background-color: #ff7b4e;
}
.rewiew__name {
  font-weight: 500;
  font-size: 33px;
  line-height: 50px;
  margin-bottom: 10px;
}

.rewiew__location {
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  color: #0f1f1c;
  opacity: 0.5;
}

.rewiew__text {
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #0f1f1c;
  opacity: 0.5;
  margin-bottom: 30px;
}
.cta {
  padding: 100px 0;
}
.cta__plate {
  background-color: #fff;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 580px;
  padding: 40px 15px;
  justify-content: center;
  position: relative;
}

.cta__plate::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url(/css/img/cta-el-01.svg);
  left: 74px;
  bottom: 56px;
  height: 83px;
  width: 63px;
}

.cta__plate::after {
  position: absolute;
  content: "";
  display: block;
  background-image: url(/css/img/cta-el-02.svg);
  top: 74px;
  right: 80px;
  height: 83px;
  width: 63px;
}
.cta__tittle {
  font-weight: 500;
  font-size: 45px;
  color: #0f1f1c;
  margin-bottom: 30px;
  z-index: 1;
}
.cta__text {
  font-weight: 400;
  font-size: 30px;
  color: #0f1f1c;
  opacity: 0.5;
  margin-bottom: 60px;
}
.cta_btn {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 27px;
  padding: 25px 55px;
}

.cubscribe {
  padding: 35px 50px;
}
.subscribe__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.subscribe__tittle {
  max-width: 494px;
  font-size: 55px;
  margin-bottom: 60px;
  font-weight: 600;
}

.subscribe__form {
  border-radius: 35px;
  background-color: #fff;
  padding: 12px 15px 12px 46px;
}
.subscribe__input {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.subscribe__input::placeholder {
  opacity: 0.5;
  color: #0f1f1c;
}
.subscribe__btn {
  display: inline-block;
  font-weight: 600;
  padding: 36px 86px;
  font-size: 25px;
  color: #ffffff;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%),
    #ffffff;
  border-radius: 35px;
  transition: 0.2s ease;
}

.subscribe__btn:hover {
  opacity: 0.5;
}
.footer {
  padding-top: 56px;
  padding-bottom: 74px;
}
.footer a {
  color: #0f1f1c;
  opacity: 0.5;
}
a.btn--footer {
  opacity: 1;
  color: #fff;
}
.nav__logo--footer a {
  color: #ff7b4e;
  opacity: 1;
}
.footer .nav__link--active {
  color: #ff7b4e;
  opacity: 1;
}

.menu-icon-wrapper {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #fff;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

@media (max-width: 1269px) {
  .container-right {
    padding-left: 15px;
  }
}

@media (max-width: 1200px) {
  .destinations__slider {
    width: 900px;
  }
}

@media (max-width: 1000px) {
  .nav__list--header {
    display: none;
  }

  .nav__login--header {
    display: none;
  }
  .nav {
    column-gap: 50px;
  }
  .nav__list {
    column-gap: 50px;
  }
  .nav__login--footer {
    display: none;
  }
  .btn__toggle {
    display: block;
    z-index: 2;
  }
  .header__img img {
    right: -256px;
  }
  .header__img::after {
    right: -300px;
  }
  .nav--mobile {
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%),
      #204434;
    left: 0;
    top: 0;
    z-index: 5;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
  }
  .nav--mobile .logo {
    font-size: 34px;
  }
  .nav--mobile .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    row-gap: 30px;
  }
  .nav--mobile .nav__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    row-gap: 30px;
  }
  .nav--mobile .btn__toggle {
    position: fixed;
    top: 50px;
    right: 50px;
  }
  .nav--mobile .nav__link::after {
    display: none;
  }
  .no-scroll {
    overflow-y: hidden;
  }
  .destinations__slider {
    width: 700px;
  }
  .slider .slider__item {
    margin-top: 18px;
    width: 223px;
    height: 268px;
  }
  .slider .center .slider__item {
    margin-top: 0;
    width: 253px;
    height: 304px;
  }
  .slider {
    height: 304px;
  }
}

@media (max-width: 850px) {
  .header {
    padding-top: 20px;
    min-height: unset;
  }
  .header__top {
    margin-bottom: 40px;
  }
  .header__row {
    flex-direction: column;
    align-items: center;
  }
  .header__img img {
    position: static;
    width: 70%;
    height: auto;
  }
  .header__img::after {
    top: 100px;
    right: 30px;
  }
  .header__tittle {
    margin-bottom: 20px;
    font-size: 35px;
    line-height: normal;
  }
  .header__text {
    font-size: 20px;
    margin-bottom: 40px;
    max-width: 400px;
  }
  .header__badge {
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 10px;
    margin-bottom: 7px;
  }
  .container-right {
    padding-right: 15px;
  }
  .destinations {
    padding: 40px 0 50px;
  }
  .destinations__row {
    flex-direction: column;
    row-gap: 30px;
  }
  .destinations__slider {
    width: 100%;
  }
  .slider__btn-prev {
    left: -15px;
  }
  .slider__btn-mext {
    right: -15px;
  }
  .destinations__tittle {
    margin-bottom: 10px;
    font-size: 35px;
  }
  .destinations__tittle span {
    font-size: 20px;
    display: block;
  }
  .destination__text {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .destinations__link {
    border-radius: 20px;
    padding: 20px 35px;
    font-size: 18px;
  }
  .customers {
    padding: 60px 0 50px;
  }
  .customers__row {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
  .customers__tittle {
    margin-bottom: 20px;
    font-size: 35px;
  }
  .rewiew__client {
    column-gap: 30px;
    margin-bottom: 20px;
  }
  .rewiew__client-avatar {
    width: 80px;
    height: 80px;
  }
  .rewiew__name {
    margin-bottom: 5px;
    font-size: 23px;
  }
  .rewiew__location {
    font-size: 18px;
  }
  .rewiew__text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .rewiew__rating {
    max-width: 200px;
  }
  .customers__img img {
    max-width: 300px;
  }
  .cta {
    padding: 50px 0;
  }
  .cta__tittle {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .cta__text {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .cta__plate {
    min-height: 380px;
    padding: 20px 15px;
    border-radius: 40px;
  }
  .cubscribe {
    padding: 25px 0 30px;
  }
  .subscribe__tittle {
    font-size: 35px;
    margin-bottom: 30px;
  }
  .subscribe__btn {
    padding: 21px 68px;
    font-size: 25px;
    border-radius: 25px;
  }
}
@media (max-width: 700px) {
  .header {
    min-height: no;
  }
}
@media (max-width: 700px) {
  .nav--footer {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
}
@media (max-width: 460px) {
  .subscribe__form {
    flex-direction: column;
  }
  .btn__toggle {
    top: 20px;
    right: 20px;
  }
  .nav--mobile .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    row-gap: 20px;
  }
  .customers__img img {
    max-width: 100%;
  }
  .nav__list--footer {
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
  }
}
